<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeshmanth</title>
</head>
<body bgcolor="cyan">
    <h1 align="center"> hi {{name}}</h1>
    
    <a align="center">
    <form action="add" method="post">
        {% csrf_token %}
        Enter the 1st GP number : <input type="text" name="gp1">  Enter the 1nd CR number: <input type="text" name="cr1"><br><br>
        Enter the 2st GP number : <input type="text" name="gp2">  Enter the 2nd CR number: <input type="text" name="cr2"><br><br>
        Enter the 3st GP number : <input type="text" name="gp3">  Enter the 3nd CR number: <input type="text" name="cr3"><br><br>
        Enter the 4st GP number : <input type="text" name="gp4">  Enter the 4nd CR number: <input type="text" name="cr4"><br><br>
        Enter the 5st GP number : <input type="text" name="gp5">  Enter the 5nd CR number: <input type="text" name="cr5"><br><br>
        
        
        <input type="submit">
    </form>
    </a>

    
</body>
</html>